body {
    background-color: #ddd;
}

h1, h2, h3, h4, h5, h6, label {
    color: #9d9d9d;
}

a, .btn-link {
    color: #FFFFFF;
}

p {
    color: #9d9d9d;

}

hr {
    border-color: #d4d4d4;
}

.list-group-item, .panel-body {
    background-color: #d5d5d5;
}

.well, .panel-heading {
    background-color: #e3e3e3 !important;
}

.navbar-header, .navbar-collapse, .container-fluid {
    background-color: #cccccc;
}

.dropdown-menu